#sidebar {
	margin-top: 40px;
}

#sidebar ul {
	margin: 0;
	padding: 0; 
}

#sidebar ul li {
	list-style-type: none;
	color: #337ab7;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

#sidebar ul li:hover {
	background-color: lightgray;
}